.characterCard {
    @include column('right');

    & .description {
        display: inline-block;
        vertical-align: top;
        
        @include mobile {
            width: 100%;
        }

        @include desktop {
            margin-right: $defaultHorizontalMargin;
            width: $leftColumnWidth;
        }

        & p {
            margin-bottom: $defaultVerticalMargin;
        }

        & ul.statistics {
            list-style: square;

            &>li {
                /* left margin override - 
                    default value causes <li> 
                    to extend beyond container */
                margin-left: 1rem;
            }
        }
    }

    & .thumbnail {
        display: inline-block;

        @include mobile {
            width: 100%;
        }
        
        @include desktop {
            width: $rightColumnWidth;
        }

        & img {
            max-height: 20rem;
            max-width: 100%;
        }
    }
}