.mainMenu {
    background: linear-gradient($barBackgroundColor, $gradientBackgroundColor, $barBackgroundColor);
    border-radius: $borderRadius;
    margin: $defaultVerticalMargin auto;
    padding: $defaultPadding;
}