$borderColor: #082c5c;
$defaultTextColor: #0e0a23;
$barBackgroundColor: #4a113c;
$defaultBackgroundColor: #0777d9;
$gradientBackgroundColor: rgba($barBackgroundColor, 0.3);
$buttonFaceColor: #f0f0f0;
$buttonHoverBackgroundColor: #e60330;
$alternateTextColor: #fff;